* {
    box-sizing: border-box; /* 3l4an l margin w l padding may5od4 mn msa7t l box */
    margin: 0;
    padding: 0
}
.slider {
    height: 350px;
    border: 1px solid black;
}
body {
    font-family: tahoma, sans-serif
}
.sliderContainer {
    margin: 10px auto;
    width: 800px;
    height: 250px;
    position: relative;
}
.sliderContainer img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1
}
.sliderContainer img.active {
    opacity: 1;
}
.sliderContainer .slideNumc {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, .6);
    color: #FFF;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}
.sliderControl {
  width: 800px;
  margin: auto;
  overflow: hidden;
}
.sliderControl .prevc,
.sliderControl .nextc {
  background-color: #009688;
  color: #FFF;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  user-select: none; /*3l4an m7d4 y2dr y3ml select 3leh*/
  width: 20%;
}
.sliderControl .prevc {
    float: left
}
.sliderControl .nextc {
    float: right
}
.sliderControl .prevc.disabled, /*class disable da l by5li l 7aga m4 bayna*/
.sliderControl .nextc.disabled {
  background-color: rgba(0, 150, 136, 0.5);
  cursor: no-drop;
}
.sliderControl .numc {
  width: 60%;
  float: left;
}
.sliderControl .numc ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.sliderControl .numc ul li {
  display: inline-block;
  background-color: #F6F6F6;
  color: #009688;
  font-weight: bold;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  margin: 0 2px;
  line-height: 28px;
  cursor: pointer;
}
.sliderControl .numc ul li.active {
  background-color: #009688;
  color: #FFF;
}

/******** Memory Game ************/
.game {
  /*height: 500px;*/
  border: 1px solid black
}
.control-buttons {
  position: absolute;
  left: 0;
  top: 353px;
  width: 100%;
  height: 1440px;
  z-index: 2;
  background-color: rgba(248, 201, 230, 0.9);
}
.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #7574A7;
  color: #FFF;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.outer {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #F6F6F6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 3px outset #7574A7;
  color:#7574A7 ;
} 
.outer span {
  color: #CD6B97;
}
.outer .name {
  float: left;
  width: 50%;
}
.outer .tries {
  float: right;
  width: 50%;
  text-align: right;
}
.inner {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.inner.no-clicking {
  pointer-events: none; /*y3ni m4 h2dr aft7 card tani m4 hystgeb ll event*/
}
.inner .gameBlock {
  height: 200px;
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  /*flex: 1 0 165px;
  margin: 0 -24px -80px;*/
  flex: 1 0 200px;
  margin: 0 10px 20px;
  
}
.inner .gameBlock .front {
  background-color: #CD6B97;
  line-height: 200px; /*nfs height l block 3l4an 3lamt l ? tkon 2dha*/
}
.inner .gameBlock .front:before {
  content: '?';
  color: #7574A7;
  font-size: 140px;
  font-weight: bold;
}
.inner .gameBlock .back {
  background-color: #7574A7;
  transform: rotateY(180deg);
}
.inner .gameBlock .back img {
  width: 140px;
  height: 140px;
  margin-top: 30px;
}
.inner .gameBlock .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #7574A7;
}
/* flibbed*/
.inner .gameBlock.flipped,
.inner .gameBlock.match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
